@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

/* ! To solve row gutter overflow problem */
.antRow {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.antRow:first-child {
  padding-left: 0 !important;
}
.antRow:last-child {
  padding-right: 0 !important;
}
/*! ^ */
.appGalleryContainer {
  background-color: #1976d2;
  height: 100%;
  margin: 0;
}
/* .gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
} */
.heading {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 25px;
  color: white;
}

.expandCard {
  width: 220px;
}

.gallery :global .ant-col {
  display: flex;
  align-content: center;
  justify-content: center;
}

.expandCard :global .ant-card-meta-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .expandCard {
  overflow: hidden; /* otherwise header image won't respect rounded corners */
  transition: all 0.5s ease;
}

.gallery .expandCard:hover {
  transform: translate3D(0, -1px, 0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease; /* zoom in */
  cursor: pointer;
}
.cardLogo {
  height: 200;
}

@media (min-width: 993px) {
  html,
  body,
  body > div {
    height: 100%;
  }
}

@media (max-width: 992px) {
  html,
  body,
  body > div {
    height: auto;
  }
}
